/* CSS Document */
* {
	font-family: "微软雅黑";
	color: #151515;
	margin: 0px;
	padding: 0px;
	list-style-type:none;
}
a:hover {
	color: #FF0000;
}
a:visited{
    color:#0066CC;
	background-color:#0066CC;         
}
#box {
	height: auto;
	width: 100%;
	align:center;
}

#box #header {
	background-image: url(../img/header_bg.jpg);
	background-repeat: repeat-x;
	height: 90px;
	width: 100%;
}
#box #header .headerzuo {
	float: left;
	height: 90px;
	width: auto;
}
#box #header .headerzuo img {
	margin-top: 22px;
	margin-left: 2%;
}
#box #header .headeryou {
	float: right;
	height: 90px;
	width: auto;
}
#box #header .headeryou .weneben {
	float: left;
	height: 15px;
	width: 610px;
	margin-top: 64px;
	margin-right: 27px;
	font-size: 12px;
}
#box #header .headeryou .xialakuang {
	float: right;
	height: 18px;
	width: 120px;
	margin-top: 61px;
	margin-right: 10px;
	font-size: 12px;
}

#box #header .headeryou .weneben td {
	font-size: 12px;
	color: #FFFFFF;
}
#box #header .headeryou .weneben a {
	color: #FFFFFF;
	text-decoration: none;
}
#box #header .headeryou .weneben a:hover {
	color: #FF0000;
}
#box #contenter {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: auto;
}

#box #contenter {
    width:100%;
	margin:0 auto;
	padding:0;
	float:left;
}


#box #contenter .contentershang {
	background-image: url(../img/contentershang_bg.png);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	height: 39px;
	width: 100%;
}
#box #contenter .contentershang .gongneng {
	height: 32px;
	width: auto;
	margin-top: 7px;
	margin-left: 56px;
	float: left;
}

#box #contenter .contentershang .gongneng .a1 {
	background-image: url(../img/gongnenghover_bg.png);
	background-repeat: no-repeat;
	height: 32px;
	width: 111px;
}
#box #contenter .contentershang .gongneng .a1 a {
	text-decoration: none;
	color: #134475;
}
#box #contenter .contentershang .gongneng .a1 a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../img/baobiaoguanli_bg.png);
	background-repeat: no-repeat;
	height: 32px;
	width: 111px;
	display: block;
}
#box #contenter .contentershang .gongneng .a1:visited {
	background-image: url(../img/baobiaoguanli_bg.png);
	background-repeat: no-repeat;
	height: 32px;
	width: 111px
	display: block;
}
#box #contenter .contentershang .gongneng td {
	color: #134475;
}
#box #contenter .contenterxia {
}

#box #contenter .contenterxia .contenterxiazuo {
	float: left;
	height: auto;
	width: 210px;
	margin-top: 6px;
}
font{font:12px/180% Arial, Helvetica, sans-serif, "微软雅黑";}
a,img{border:0;text-decoration:none;}
.subNavBox{width:210px;border:solid 1px #e5e3da;}
.subNav{border-bottom:solid 1px #e5e3da;cursor:pointer;font-weight:bold;font-size:14px;color:#999;line-height:28px;padding-left:10px;background: url(../img/jiantou1.jpg) no-repeat;background-position:95% 50%}
.subNav:hover{color:#277fc2;}
.currentDd{color:#277fc2}
.currentDt{
	background-image: url(../img/jiantou.jpg);
	text-align: center;
	vertical-align: middle;
}
.navContent{
	display: none;
	border-bottom:solid 1px #e5e3da;
	text-align: left;
}
.navContent li a{
	display:block;
	height:28px;
	text-align:left;
	font-size:14px;
	line-height:28px;
	color: #333333;
	padding-left: 30px;
	font-weight: lighter;
	background-color: #F2F2F2;
}
.navContent li a:hover{
	color:#fff;
	background-color:#277fc2;
	background-image: url(../img/icon_rig.gif);
	background-repeat: no-repeat;
	background-position: left;
}
.navContent li :visited{
	color: #0066CC;
	background-image: url(../img/icon_rig.gif);
	background-repeat: no-repeat;
	background-position: left;
	font-size: 12px;
	line-height: 25px;
	text-decoration: none;
}








.menu_head{padding:5px 10px;cursor:pointer;position:relative;margin:1px;font-weight:bold;background:#eef4d3 url(images/left.png) center right no-repeat;}
.menu_list .current{background:#eef4d3 url(images/down.png) center right no-repeat;}
.menu_body{display:none;}
.menu_body li{
	display:block;
	color:#006699;
	background-color:#EFEFEF;
	padding-left:10px;
	font-weight:bold;
	text-decoration:none;
	height:25px;
	line-height:24px;
	float: left;
	width: 250px;
}
.menu_body a:hover{color:#000000;text-decoration:underline;}





#box #contenter .contenterxia .contenterxiayou {
	float: left;
	height: auto;
	width: 80%;
	margin-left:10px;
	background-color: #FFFFFF;
}

#box #contenter .contenterxia .contenterxiayou .shang .wenben {
	float: left;
}

#box #contenter .contenterxia .contenterxiayou .shang {
	background-image: url(../img/youding_bg.gif);
	background-repeat: repeat-x;
	float: left;
	height: 35px;
	width: 100%;
	margin-top: 6px;
	margin-left:1px;

}
#box #contenter .contenterxia .contenterxiayou .shang td {
	line-height: 35px;
	height: 35px;
}
#box #contenter .contenterxia .contenterxiayou .shang img {
	vertical-align: middle;
	padding: 0px;
	margin-top: 7px;
}
#box #contenter .contenterxia .xia {
	float: left;
	width: 100%;
	margin:0px;
	padding:0px;
}
#box #contenter .contenterxia .xia .yonghu {
	width: auto;
	padding-left: 60px;
	margin-top: 20px;
}
#box #contenter .contenterxia .xia .youqingtishi {
	background-color: #F2DEDF;
	border: 1px solid #F5F5F5;
	padding-left: 20px;
	margin-top: 15px;
	font-size: 12px;
	color: #612B29;
	line-height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: auto;
	width: auto;
}
#box #contenter .contenterxia .xia .guojiaxuanze {
	height: auto;
	width: auto;
	margin-top: 22px;
}
#box #contenter .contenterxia .xia .guanggao {
	height: auto;
	width: 100%;
	background-color: #EDF2F8;
	border-top-width: 1px;
	border-top-color: #EFEFEF;
	border-top-style: solid;
}
#box #contenter .contenterxia .xia .guanggao .guanggaotiao1 {
	height: 36px;
	width: 100%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color:  #DEDEDE;
	border-bottom-color:  #DEDEDE;
	border-left-color:  #DEDEDE;
	margin: 0px;
	padding: 0px;
}
#box #contenter .contenterxia .xia .guanggao .guanggaotiao2 {
	margin: 0px;
	height: 55px;
	width: 100%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color:  #DEDEDE;
	border-bottom-color:  #DEDEDE;
	border-left-color:  #DEDEDE;
	background-color: #F9F9F9;
	padding: 0px;
}
#box #contenter .contenterxia .xia .guanggao .guanggaotiao2 td {
	text-align: left;
	vertical-align: middle;
	line-height: 55px;
	font-size: 12px;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DEDEDE;
}

#box #contenter .contenterxia .xia .guanggao .guanggaotiao3 {
	height: 55px;
	width: 100%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #DEDEDE;
	border-bottom-color: #DEDEDE;
	border-left-color: #DEDEDE;
	background-color: #FFFFFF;
}
#box #contenter .contenterxia .xia .guanggao .guanggaotiao3 td {
	font-size: 12px;
	line-height: 55px;
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DEDEDE;
}



#box #contenter .contenterxia .xia .guanggao .guanggaotiao11 {
	height: 36px;
	width: 100%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color:  #DEDEDE;
	border-bottom-color:  #DEDEDE;
	border-left-color:  #DEDEDE;
	margin: 0px;
	padding: 0px;
}
#box #contenter .contenterxia .xia .guanggao .guanggaotiao22 {
	margin: 0px;
	height: 55px;
	width: 100%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color:  #DEDEDE;
	border-bottom-color:  #DEDEDE;
	border-left-color:  #DEDEDE;
	background-color: #F9F9F9;
	padding: 0px;
}
#box #contenter .contenterxia .xia .guanggao .guanggaotiao22 td {
	text-align: center;
	vertical-align: middle;
	line-height: 55px;
	font-size: 12px;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DEDEDE;
}


#box #contenter .contenterxia .xia .guanggao .guanggaotiao33 {
	height: 55px;
	width: 100%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #DEDEDE;
	border-bottom-color: #DEDEDE;
	border-left-color: #DEDEDE;
	background-color: #FFFFFF;
}
#box #contenter .contenterxia .contenterxiayou .xia .guanggao .guanggaotiao22 .mingcheng {
	color: #055596;
	text-decoration: underline;
}
#box #contenter .contenterxia .contenterxiayou .xia .guanggao .guanggaotiao33 .mingcheng {
	color: #055596;
	text-decoration: underline;
}
#box #contenter .contenterxia .contenterxiayou .xia .guanggao .guanggaotiao33 .wufafangwen {
	color: #FF0000;
}
#box #contenter .contenterxia .contenterxiayou .xia .guanggao .guanggaotiao22 .wufafangwen {
	color: #FF0000;
}

#box #contenter .contenterxia .xia .guanggao .guanggaotiao33 td {
	font-size: 12px;
	line-height: 55px;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DEDEDE;
}



#box #contenter .contenterxia .xia .guanggao .guanggaotiao4 {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color:  #DEDEDE;
	border-bottom-color:  #DEDEDE;
	border-left-color:  #DEDEDE;
	font-size: 12px;
	line-height: 36px;
	background-color: #FFFFFF;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 36px;
}
#box #contenter .contenterxia .xia .guanggao .guanggaotiao4 td {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DEDEDE;
	padding-left: 5px;
}

#box #contenter .contenterxia .xia .guanggao .guanggaotiao1 td {
	font-size: 13px;
	line-height: 36px;
	font-weight: bold;
	height: 36px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #DEDEDE;
	padding-left: 5px;
}
#box #contenter .contenterxia .xia .fanye {
	background-color: #F3F3F3;
	height: 50px;
	width: 100%;
	border: 1px solid #DEDEDE;
	margin-top: 10px;
}
#box #contenter .contenterxia .xia .fanye table {
	float: right;
	height: 24px;
	width: 200px;
	margin-top: 13px;
	margin-right: 3%;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #DEDEDE;
}
#box #contenter .contenterxia .contenterxiayou .xia .fanye .cc {
	width: 400px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}




#box #contenter .contenterxia .contenterxiayou .xia .daochushuju {
	height: auto;
	width: 100%;
	margin-top: 20px;
}
#box #contenter .contenterxia .contenterxiayou .xia .daochushuju .zhanghao {
	background-color: #8E9BA1;
	height: 16px;
	width: 30px;
	margin-left: 10px;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
}
#box #contenter .contenterxia .contenterxiayou .xia .daochushuju .zhanghaowenben {
	height: 30px;
	width: 240px;
	margin-top: 10px;
	margin-left: 10px;
}
#box #contenter .contenterxia .contenterxiayou .xia .daochushuju .xuanzeshijian {
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	height: 16px;
	width: 60px;
	background-color: #8E9BA1;
	margin-top: 10px;
	margin-left: 10px;
	clear: left;
}
#box #contenter .contenterxia .contenterxiayou .xia .daochushuju .shijianwenben {
	height: auto;
	width: 100%;
	margin-top: 10px;
	margin-left: 10px;
}
#box #contenter .contenterxia .contenterxiayou .xia .daochushuju .xialameitikuang {
	margin-top: 10px;
	margin-left: 10px;
}


#box #contenter .contenterxia .contenterxiayou .xia .daochushuju .kaishishijian table {
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
}
#box #contenter .contenterxia .contenterxiayou .xia .zhengwen {
	font-size: 12px;
	line-height: 20px;
	height: auto;
	width: 100%;
	padding: 0px;
	margin-top: 10px;
}
#box #contenter .contenterxia .contenterxiayou .xia .zhengwen .zhengwen1 {
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	font-weight: bold;
	color: #1E6C9D;
	float: left;
	height: auto;
	width: 100%;
	margin-top: 5px;
}
#box #contenter .contenterxia .contenterxiayou .xia .zhengwen .zhengwen2 {
	font-size: 12px;
	line-height: 20px;
	text-align: left;
	vertical-align: middle;
	padding: 0px;
	margin-top: 5px;
	float: left;
	width: 100%;
	height: auto;
}
#box #contenter .contenterxia .contenterxiayou .xia .zhengwen .zhengwen2 .fudong {
	float: left;
	height: auto;
	width: auto;
	padding: 0px;
	margin-left: 10px;
}
#box #contenter .contenterxia .contenterxiayou .xia .navxiala {
	font-size:13px;
	font-weight:bold;
	height:30px;
	line-height:35px;
	border-bottom:dashed 1px #E9E9E9;
	float: left;
	width: 100%;
	margin-top: 10px;
}

#box #contenter .contenterxia .contenterxiayou .xia .xiaokuai li {
	float: left;
	height: 30px;
	width: 247px;
	text-align: center;
	background-color: #EBEBEB;
	margin-top: 10px;
	margin-left: 20px;
	line-height: 30px;
	vertical-align: middle;
	border: 1px solid #C1BCC0;
}

#box #contenter .contenterxia .contenterxiayou .xia .xiaokuai {
	width: 100%;
	height: auto;
	float: left;
}
#box #contenter .contenterxia .contenterxiayou .xia .xiaokuai a {
	font-size: 12px;
}





#box #contenter .contenterxia .xia .anniu {
	height: auto;
	width: 100%;
	margin-top: 20px;
	float: left;
}


#box #contenter .contenterxia .xia .anniu td {
	line-height: 32px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	height: 32px;
}
#box #contenter .contenterxia .xia .anniu a {
	color: #FFFFFF;
}
#footer {
	height: 30px;
	width: 100%;
	padding:0px;
	clear: both;
	
	margin: 0px;
}
#footer .dibu {
	font-size: 12px;
	line-height: 30px;
	height: 50px;
	width: 100%;
	background-color: #E0EDFC;
	text-align: center;
	vertical-align: middle;
}




/*  huijie */

dt,dd,ul ,ol,li,h2,h3,h4,h5,h6,b{font-size:12px; list-style:none; text-decoration:none; font-family:"微软雅黑"; display:block; margin:0px; padding:0px; overflow:hidden; border:0px; border:none;}
.top{margin-top:20px; overflow:hidden;}
.logo{width:204px; height:41px; float:left; }
.top_rf{width:250px; display:block; float:right;}
.top_rf ul li{display:inline; height:25px;height:25px; line-height:25px;}
.top_rf ul li a{display:block; float:left;  text-align:center; color:#666666; }
.top_rf ul li span{display:block; float:left; margin:0 5px; color:#666;}


.main{overflow:hidden;}
.main_lf{width:488px; float:left; margin-top:102px; margin-left:0px; padding:0px;_width:488px; _margin-left:-210px;}
.main_lf img{_float:left;_width:488px; _padding:0px; _overflow:hidden; clear:both;}
/*.main_rf{width:365px; float:right; border-radius: 5px; border:solid 1px #dddddd; height:290px; margin-top:30px;}*/
.main_rf ul,.main_rf ol,.submitgo{width:280px; margin:0px auto; margin-top:20px;}
.main_rf ul li,.main_rf ol li{font-size:14px; height:25px; line-height:25px; color:#666666; margin-bottom:5px;}

.input huijie{background:url(../img/input.png) repeat-x scroll 0 0  #fff;  border: 1px solid #ddd; height:30px; line-height:30px; width:269px;}
input[type="password"] {
    border-color:#ddd;
    border-style: solid;
	display:block;
    border-width: 1px;
	border-radius:3px;
    height: 30px;
    line-height: 30px;
    padding: 2px 4px;
    vertical-align: middle;
	width:261px;
	border: 0 none;
	 
	
}

.alltxt {
    border-color: rgb(112, 112, 112) rgb(206, 206, 206) rgb(206, 206, 206) rgb(112, 112, 112);
    border-style: solid;
    border-width: 1px;
    height: 25px;
    line-height:25px;
    padding: 3px 3px 2px;
    vertical-align: middle;
	width:265px;}	
	
.login-main{width:365px; float:right; border-radius: 5px; border:solid 1px #dddddd; height:340px; margin-top:30px;}
.login-main dl { width: 300px; margin:0 auto;}
.login-main dl dt, .login-main dl dd {
    display: inline-block;
    float: left;
    height: 39px;
    line-height: 39px;
    margin-top: 2px;
}

.login-main dl dt {
	float:left;  
	display:block; 
	color:#666;
    font-size: 14px;
	height:38px;
	line-height:38px;
    padding-right: 5px;
    text-align: left;
	clear:both;    
    width: 280px;
}
.login-main dl dt .login_dl{float:left; font-size:14px;}
.login-main dl dt .login_wj{float:right;  font-size:14px; color:#666;}
.login-main dl dt .login_wj a{color:#068bd0; font-size:14px;}
.login-main dl dt .login_qq{ background:url(../img/login_14.gif) left center no-repeat scroll; padding-left:20px; float:left; font-size:14px;}
.login-main dl dt .login_zc{float:right; font-size:14px; color:#666; }
.login-main dl dt a{color:#666; font-size:14px;}

.login-main dl dd {height:39px; line-height:39px; overflow:hidden;}
.login-main dl dd input#vdcode {
    margin-right: 5px;
    width: 50px;
}
.login-main .login-btn {
	background: url("../img/gobg.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="../img/gobg.jpg");
	_background:none repeat scroll #0590d5;
	border: medium none;
	color:#fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	height: 39px;
	line-height: 39px;
	text-align: center;
	letter-spacing:5px;
	width: 300px;
}
.login_qq{background:url(../images/login_14.gif) no-repeat scroll 0 0; padding-left:20px; font-size:14px;}


.main_rf ol{margin-top:10px;}
.main_rf ul,.main_rf ol{*width:280px;}
.main_rf ol li{ display:inline; display:block; width:70px; float:left;}
.main_rf ol span{ display:block; width:120px; float:right; overflow:hidden; height:25px; line-height:25px;}
.main_rf ol span a{font-size:14px; color:#666666; text-align:right;}
.main_rf ol span a:hover{color:#00F; border-bottom:solid 1px #0000FF;}
.main_rf ol p{width:280px; height:37px; clear:both;}
.submitgo {width:269px; margin:0 auto; margin-top:20px;}
.submitgo a{}
.login_btn{background:url(../images/gobg.jpg) no-repeat scroll 0 0; border-style:none; color:#FFF; cursor:pointer; font-size:18px; font-weight:600; font-family:"微软雅黑"; height:39px; width:269px; letter-spacing:5px;}

.main_rf h2 a{text-align:center; color:#FFF; border:solid 1px #7ab4d6; line-height:33px;width:271px;height:36px; _height:36px;_width:271px;}
.main_rf ol h3{width:118px; float:left; font-weight:normal; text-align:right; background:url(../images/login_14.gif) no-repeat 2px; height:25px; line-height:25px; margin-top:10px;}
.main_rf ol h4{width:80px; float:right; font-weight:normal; text-align:center;height:25px; line-height:25px;margin-top:10px;}
.main_rf ol a{color:#666666; font-size:14px;}
.bq{margin-top:130px;}
.bq ul,.bq ol{margin:0px auto; width:260px; clear:both;}
.bq ul li,.bq ul span{display:inline;}
.bq ul li a,.bq ul span{display:block; float:left;}
.bq ul span{margin:0 5px; text-align:center; color:#999;}
.bq ul li a{width:52px; text-align:center; color:#999999; font-size:12px;}
.bq ol{text-align:center; margin-top:20px;color:#999999;}
